@model RSSFeeder.Models.SingleFeedSettingsModel

@{
    ViewData["Title"] = "FeedSettingEditting";
}

<h1>Редактирование настроек ленты</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFeed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RSSUrl" class="control-label"></label>
                <input asp-for="RSSUrl" class="form-control" />
                <span asp-validation-for="RSSUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
                <input type="submit" value="Применить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

